<% layout('layouts/boilerplate.ejs') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-danger"><%= err.message %></h4>
      <% if(process.env.NODE_ENV !== "production"){ %> <%= err.stack %> <%
      }else{ %>
      <h1>Error</h1>
      <% } %>
    </div>
  </div>
</div>
